<tr data-file="{{file}}" data-line="{{line}}" data-depth="{{depth}}">
  <td>{{where}}</td>
  <td>{{file}}</td>
  <td>{{line}}</td>
  <td class="jump-to">
    <i class="fa fa-share-square"></i>
  </td>
</tr>

